In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [15]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000)

In [16]:
df = next(df_iter)

In [17]:
len(df)

100000

In [18]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [19]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [21]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [ ]:
df.to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

In [24]:
df.head(n=0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

0

In [25]:
# pgcli -h localhost -p 5432 -U root -W root -d ny_taxi

In [27]:
df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

1000

In [28]:
while True:
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")
    print("inserted 100k rows")

inserted 100k rows
inserted 100k rows
inserted 100k rows
inserted 100k rows
inserted 100k rows
inserted 100k rows
inserted 100k rows
inserted 100k rows
inserted 100k rows
inserted 100k rows
inserted 100k rows

C:\Users\david\AppData\Local\Temp\ipykernel_23712\134657344.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted 100k rows
inserted 100k rows

StopIteration: